/* #66c0f4 */

body {
    background-color: #082040;
}

button:hover {
    cursor: pointer;
}

/* HEADER */
header {
    width: 100%;
    background-color: hsla(208, 81%, 84%, 1);
    padding: 1vh 15vw 1vh 16vw;
    justify-content: space-between;
    color: #082040;
    box-shadow: 0 0 2.5vh lightblue;
    font-family: sans-serif;
    font-weight: bold;
}

#header-left-div {
    width: 80%;
}

#header-logo {
    padding: 3vh 6%;
    margin-right: 5vw;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
    height: 10vh;
    width: 28.5%;
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
    font-weight: bold;
}

#header-logo:hover {
    cursor: pointer;
}

#header-navbar, header ul li a:visited {
    color: #082040;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    padding: 0 0.5vw;
}

header ul li a {
    color: #082040;
    border-bottom: 0;
    transition: all 0.3s;
}

header li {
    position: relative;
}

header ul li.no-sub-menu::after {
    content: '';
    background-color: maroon;
    width: 0;
    height: 10%;
    position: absolute;
    left: 8%;
    top: 100%;
    transition: all 0.5s;
}

header ul li.no-sub-menu:hover::after {
    width: 85%;
}

header ul li a.sub-menu-container:hover .sub-menu {
    max-height: 100vh;
}

header .sub-menu {
    position: absolute;
    top: 130%;
    left: 12%;
    background-color: hsla(208, 81%, 84%, 1);
    box-shadow: 0px 6px 10px 7px lightblue;
    min-width: 100%;
    z-index: 10;
    font-size: 0.7em;
    color: black;
    transition: 1s all;
    max-height: 0;
    overflow: hidden;
}

header .sub-menu div {
    padding: 10% 15%;
}

header .sub-menu div:hover {
    color: white;
}

#header-right-div {
    font-size: 1.3em;
}

#header-right-div .last-li {
    border-left: 1px solid grey;
}

/* MAIN */
main {
    width: 70%;
    margin: 2vh auto;
    padding: 2vh 2vw;
}

#aside-left {
    width: 30%;
    margin: 9.5% 1% 0 0;
    color: white;
    border-top: 1px solid #1E82D9;
    font-family: sans-serif;
    /* padding-top: 1%; */
}

#browse-container {
    flex-direction: column;
}

.browse-titles {
    margin: 7% 0;
}

.browse-lines {
    margin-bottom: 3.5%;
    color: #66c0f4;
    font-size: 0.9em;
    border-left: 0px solid lightcoral;
    transition: all 0.15s;
    padding-left: 1%;
}

.browse-lines:hover {
    cursor: pointer;
    color: white;
    border-left: 10px solid lightcoral;
}

#main-div {
    width: 100%;
}

main>div, main>div>div {
    margin-bottom: 3vh;
}

#search-container {
    height: 5vh;
}

#search-container input {
    height: 100%;
    width: 80%;
    border-radius: 10px;
    border: 0;
    padding-left: 3%;
    background-color:#66c0f4 ; /* hsla(208, 81%, 84%, 1) */
    outline: none;
}

#search-container button {
    height: 85%;
    width: 5%;
    background-image: url(../img/magnifying-glass.png);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -7%;
    border-radius: 10px;
    border: 0;
    background-color: #66c0f4;
    outline: none;
    transition: all 0.2s;
}

.title-container {
    margin-bottom: 1vh;
    justify-content: space-between;
    min-width: 100%;
    padding: 0 7% 0 6%;
}

.title-container * {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.title-container button {
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.4);
}

.slideshow-container {
    padding: 1vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 70%;
    color: white;
}

.slideshow {
    height: 360px;
    display: flex;
    box-shadow: 0px 0px 10px 3px #66c0f4;
    max-width: 88%;
    margin: 0 0;
}

.slideshow:hover {
    cursor: pointer;
}

#slideshow-images-container {
    display: flex;
    overflow: hidden;
    position: relative;
    min-width: 70%;
    
}

#slideshow-images-container img {
    position: relative;
    left: 0;
    transition: all 2s;
}

button.prev, button.next {
    top: 50%;
    left: 2.5%;  
    outline: none;
    border: none;
    font-size: 3em;
    font-weight: bold;
    opacity: 0.2;
    color: #fff0e1;
    border-radius: 0.5vw;
    display: flex;
    transition: 0.3s;
}

button.prev:hover, button.next:hover {
    opacity: 0.8;
}

button.prev {
    background-image: linear-gradient(to right, #66c0f4, #082040);
}

button.next {
    background-image: linear-gradient(to left, #66c0f4, #082040);
}

.slide-indicator {
    min-width: 100%;
    margin-top: 2%;
}

.slide-indicator div {
    min-width: 3%;
    box-shadow: 0 0 0.5vh 0.2vh lightblue;
    margin-right: 1.3%;
    color: transparent;
    font-size: 1.3vh;
}

.slide-indicator div:hover {
    cursor: pointer;
}

.active-indicator {
    background-color: #66c0f4;
}

#grid-title-container {
    padding: 0;
}

#grid-container {
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#grid-div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1%;
    min-width: 100%;
}

#grid-div>div {
    color: white;
    max-width: 100%;
    height: 25vh;
    overflow: hidden;
    
}

#grid-div>div>img {
    height: 100%;
    transition: all 0.3s;
}

#grid-div>div:hover {
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: hsla(208, 81%, 84%, 1);
    box-shadow: 0 0 2.5vh lightblue;
    width: 100%;
    padding: 4vh 15vw 4vh 16vw;
    color: #082040;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
}

footer div {
    /* height: 100%; */
    flex-direction: column;
    align-items: center;
}

footer div * {
    margin-bottom: 1%;
}

footer p {
    letter-spacing: 0.1vw;
}

footer span {
    padding: 0 1vw;
    border-right: 1px solid black;
    letter-spacing: 0.2vw;
}

footer .last-span {
    border-right: 0;
}

footer span:hover {
    cursor: pointer;
    color: white;
}

footer div img {
    width: 15%;
}

#go-to-top-div {
    border: 3px solid white;
    border-radius: 5px;
    width: 2.5%;
    height: 20%;
    position: absolute;
    right: 10%;
    top: 30%;
    font-size: 2em;
    color: white;
    transition: all 0.7s;
}

#go-to-top-div:hover {
    border-color: #66c0f4;
    color: #66c0f4;
    cursor: pointer;
}

/* ------------------------------------------------FREETOPLAY PAGE */
#title-container {
    padding: 3% 0 0 17%;
    font-size: 1.3em;
    font-family: sans-serif;
}

#title-container p:first-child {
    color: white;
    font-size: 2em;
    margin-bottom: 1%;
}

#title-description {
    color: rgba(255, 255, 255, 0.5);
}

#freetoplay-main {
    color: #66c0f4;
    font-family: sans-serif;
}

#main-left {
    min-width: 69%;
    margin-right: 2%;
}

.items {
    margin-bottom: 1%;
}

.items:hover {
    cursor: pointer;
}

.items-img-container {
    min-width: 25%;
}

.items-info {
    padding: 1% 1% 0.7%;
    background-color: rgba(102, 192, 244, 0.3);
    min-width: 75%;
}

.items-info:hover {
    background-color: rgba(102, 192, 244, 1);
}

.items-info * {
    margin-bottom: 0.5%;
}

.items-info i {
    margin-right: 1.5%;
}

.paging {
    justify-content: space-between;
    background-color: rgba(102, 192, 244, 0.3);
    padding: 1% 2% 1% 2%;
    font-size: 0.85em;
}

.numbers-div {
    min-width: 26%;
}

.numbers-div button {
    background-color: rgba(102, 192, 244, 1);
    min-width: 8%;
    border: none;
    border-radius: 5px;
}

.numbers-div span {
    padding: 0 2%;
}

#tabs-container {
    border-bottom: 0.5vh solid rgba(102, 192, 244, 0.3);
}

.tabs {
    padding: 1% 2%;
    border-radius: 3px;
    /* white-space: nowrap; */
}

.tabs:hover {
    cursor: pointer;
    color: white;
}

.active-tab {
    background-color: rgba(102, 192, 244, 0.3);
    color: white;
}

#main-right {
    min-width: 28%;
}

.main-right-items {
    margin-bottom: 10%;

}

.main-right-items p {
    margin-bottom: 3.5%;
    color: white;
}

.main-right-items>div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}

.main-right-items>div>button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    padding: 4% 0;
    grid-column: 2;
}

.main-right-items>div>button:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
}

.tags {
    text-align: center;
    background-color: rgba(102, 192, 244, 0.3);
    border-radius: 2px;
    padding: 3% 0;
    font-size: 0.9em;
}

.tags:hover {
    cursor: pointer;
    background-color: rgba(102, 192, 244, 1);
    color: white;
}

#specials-container {
    background-image: linear-gradient(to bottom, rgba(102, 192, 244, 0.3), black);
}

.specials:hover {
cursor: pointer;
}

.price {
    background-color: rgba(102, 192, 244, 1);
    color: white;
    padding: 3% 0;
    font-size: 0.8em;
}

.price span {
    padding: 2% 3%;
}

.price .discount-rate {
    background-color: #4c6b22;
    color: #a4d010;
}

.price .old-price {
    text-decoration: line-through;
    color: grey;
}

.price .old-price, .price .new-price {
    background-color: #082040;
}

.contents {
    margin-bottom: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/* ------------------------------------------------------PRODUCT PAGE */

#product-main {
    width: 70vw;
}

#product-title-container {
    font-family: sans-serif;
    margin-bottom: 2vh;
}

#product-details-container {
    background-color: rgba(102, 192, 244, 0.1);
    margin-bottom: 5%;
}

#product-title-container span:hover {
    cursor: pointer;
    color: white;
}

#images-container {
    min-width: 68%;
    margin-right: 2%;
    margin-bottom: 0;
}

#product-big-img {
    margin-bottom: 2%;
    max-height: 50vh;
    overflow: hidden;
    transition: all 1s;
}


#slideshow-picker {
    max-width: 100%;
    display: flex;
}

#slideshow-picker .img-container {
    min-width: 20%;
    position: relative;
}

#slideshow-picker .img-container:hover {
    cursor: pointer;
}

.active-img {
    border: 2px solid white;
}

#info-container {
    min-width: 30%;
    margin-bottom: 0;
    font-family: sans-serif;
}

#info-container>* {
    padding-bottom: 4%;
}

#info-container>div>p {
    color: lightgray;
    font-size: 13px;
}

#info-container>div>p>span.attributes, .recent-reviews>span.attributes, .all-reviews>span.attributes {
    color: lightgray;
    font-size: 13px;
    display: inline-block;
    min-width: 32%;
}

#info-container>div>p>span.attributes:hover, .recent-reviews>span.attributes:hover, .all-reviews>span.attributes:hover {
    color: lightgray;
    cursor: auto;
}

#info-container>div>p>span, .recent-reviews>span, .all-reviews>span {
    color: #66c0f4;
    font-size: 17px;
}

#info-container>div>p>span:hover, .recent-reviews>span:hover, .all-reviews>span:hover {
    cursor: pointer;
    color: white;
}

#product-tags-container>div {
    display: inline-block;
    color: #66c0f4;
    padding: 1% 2.5%;
    margin: 1% 0.2% 0 0;
    background-color: rgba(102, 192, 244, 0.3);
    border-radius: 2px;
}

#product-tags-container>div:hover {
    background-color: #66c0f4;
    color: white;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    
    background-color: lightgrey;
    color: black !important;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s;
    font-size: 13px;
}

.tooltip::after {
    content: '';
    border: 6px solid;
    position: absolute;
    top: 100%;
    left: 50%;
    border-color: lightgrey transparent  transparent transparent;
}

#all-reviews-tooltip::after {
    left: 70%;
    border: 8px solid;
    border-color: lightgrey transparent  transparent transparent;
}

#recent-reviews-tooltip {
    top: -220%;
}

#all-reviews-tooltip {
    top: -400%;
}

.recent-reviews, .all-reviews {
    position: relative;
}

.recent-reviews:hover #recent-reviews-tooltip, .all-reviews:hover #all-reviews-tooltip {
    opacity: 1;
}

#below-container {
    color: white;
    font-family: sans-serif;
    max-width: 70%;
}

#buying {
    background-image: linear-gradient(120deg, #323c48 20%, grey);
    padding: 3% 1.5% 6%;
    position: relative;
    margin-bottom: 5%;
}

.buying-button-container {
    position: absolute;
    background-color: black;
    right: 3%;
    bottom: 0%;
    transform: translate(0, 50%);
    min-width: 28%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.buying-button-container span {
    padding: 10px;
}

.buying-button-container button {
    padding: 5px 0;
    min-width: 60%;
    border-radius: 2px;
    border: 0;
    background-image: linear-gradient(to bottom, rgb(121, 153, 5) 25%, rgb(83, 105, 4));
    color: rgb(207, 229, 129);
    font-size: 1em;
}

.buying-button-container button:hover {
    background-image: linear-gradient(to bottom, #a4d007 25%, #6b8705);
    color: white;
}

.small-sections {
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.small-sections p {
    margin-bottom: 2%;
}

.small-sections p.border-bottom {
    position: relative;
}

.small-sections p.texts {
    letter-spacing: 1px;
    color: lightgrey;
}

.border-bottom::after {
    content: '';
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, orange, rgba(0,0,0,0));
    position: absolute;
    left: 0;
    bottom: -30%;
}

#minimum {
    margin-right: 2%;
}

#minimum, #recommended {
    min-width: 49%;
    font-size: 0.8em;
}

#minimum p, #recommended p {
    color: rgb(235, 235, 235);
}

#minimum span, #recommended span {
    color: rgb(137, 137, 137);
}

#about-main {
    background-color: lightslategrey;
    font-family: sans-serif;
    flex-direction: column;
}

#about-main>* {
    margin-bottom: 1.5%;
}

#about-main img.logo {
    width: 20%;
}

#logo-name {
    font-weight: bold;
    font-size: 3.5em; 
}

#describe p {
    font-weight: bold;
    padding-left: 20%;
    padding-right: 15%;
    font-size: 1.5em;
    text-align: center;
}

#install {
    min-width: 100%;
}

#install button {
    border: 0;
    background-image: linear-gradient(to right, #06bfff 50%, #2b74ff 100%);
    padding: 10px;
    color: white;
    border-radius: 2px;
    font-size: 1.2em;
    min-width: 22%;
    transition: background-image 1s;
    margin-bottom: 15%;
    opacity: 1;
}

#install button:hover {
    cursor: pointer;
    animation-name: BackgroundImage;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    /* background-image: linear-gradient(to right, #06bfff 50%, #06bfff 100%); */
}

#install button i {
    margin-left: 20%;
}

#learn-more {
    border: 0;
    background-color: transparent;
    color: white;
    font-weight: 500;
    margin-bottom: 30vh; 
    outline: 0;
}

#learn-more:hover {
    cursor: pointer;
}

#appear-container {
    position: relative;
    flex-direction: column;
    text-align: center;
    padding: 0 30%;
}

.appear-first-p {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 1.5%;
}

.appear-second-p {
    margin-bottom: 2.5%;
}

.appear-second-p + a {
    color: #66c0f4;
    margin-bottom: 50vh;
}

#appear-container a:hover i , #community a:hover i, #hardware a:hover i {
    transition: all 0.3s;
}

#appear-container a:hover i , #community a:hover i, #hardware a:hover i {
    margin-left: 15px;
}

.appear {
    position: absolute;
    opacity: 0;
    transition: all 1.5s;
}

.appear:hover {
    cursor: pointer;
}

.depth-1 {
    width: 200px;
    opacity: 1;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

.depth-2 {
    width: 170px;
    opacity: 0.9;
}

.depth-3 {
    width: 130px;
    opacity: 0.8;
}

#appear-1 {
    left: 0;
    top: 0;
}

#appear-2 {
    left: 20%;
    top: -10%;
}

#appear-3 {
    right: 0;
    top: 0;
}

#appear-4 {
    right: 20%;
    top: -10%;
}

#appear-5 {
    left: -2.5%;
    top: 20%;
}

#appear-6 {
    left: 10%;
    top: 34%;
}

#appear-7 {
    right: -2.5%;
    top: 20%;
}

#appear-8 {
    right: 10%;
    top: 34%;
}

#appear-9 {
    left: 5%;
    top: 64%;
}

#appear-10 {
    right: 5%;
    top: 64%;
}

#appear-11 {
    left: 40%;
    top: 66%;
}

#community, #hardware {
    text-align: center;
}

#community-image, #hardware-image {
    margin-top: 2%;
    opacity: 0;
    transition: all 1.5s;
}

#community > *, #hardware > * {
    max-width: 35%;
    margin-right: 2%;
}

@keyframes BackgroundImage {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes FadeOut {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1366px) {
    #header-logo {
        padding: 3vh 2%;
    }

    .title-container {
        padding: 0 10% 0 10%;
    }

    .slideshow {
        max-width: 80%;
    }

    #go-to-top-div {
        font-size: 1.3em;
    }
}